@import "../../../../util/colors";


.wrapperPopupLabel {
  background-color: rgba($colorGray, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;

  .wrapper {
    width: 300px;
    min-height: auto;
    max-height: 100%;
    background-color: $colorWhite;
    padding: 10px;
    border-radius: 12px;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      display: none;}

    .headerTitle {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 2em;
      margin-bottom: 10px;
    }
    .header{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
      input{

        border-bottom: 1px solid $colorGray;
      }
      button{
        padding: 5px  10px;
        border: 1px solid $colorGray;
        border-radius: 12px;
      }
    }
    .wrapperLabels{
      margin: 10px ;
      font-size: 2em;
      //outline: 1px solid red;

      &:hover{
        background-color: rgba($colorGray,0.1);
      }
      label{
        display: flex;
        align-items: center;
        width: 100%;
        cursor: pointer;
        //height: 100%;

      }
    }
  }
}